      <table id="agency-list" class="table table-hover">
        <thead>
          <th>Agency</th>
        </thead>
        <tbody>
          {{#agencies}}
            <tr id="{{$.Name}}">
              <td class="agency-selector" 
                  data-agency-name="{{$.Name}}">
                    {{$.Name}}
              </td>
            </tr>
          {{/agencies}}
        </tbody>
      </table>   